# Language specific files
.npm
npm-debug.log
node_modules
.sass-cache

# Config / Build Files
qsp-config.json
qsp-config.js
qsp-markdown.css
panel-config.json
panel-config.js

# Editor specific project files
.tern-project
*.swp
*.swo
.idea
tmux-*

# OS files
.DS_Store

